body,
html,
ul,
h1,
h2,
h3,
p,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body,
.root {
  min-height: 100vh;
}

header {
  background-color: aqua;
  padding: 20px;
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    gap: 15px;
  }
}
